@import 'tailwindcss';

/* Custom global styles */
body {
  background-color: #f9fafb;
  color: #111827;
}

a {
  font-weight: 500;
  color: #2563eb;
  transition: color 0.2s;
}

a:hover {
  color: #1d4ed8;
}
